@import url(http://fonts.googleapis.com/css?family=Cursive);

html, body {
  height: 90%;
  min-height: 95%;
}

body {
  background: rgba(166, 210, 210, 0.8);
  background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Lucida Handwriting', Cursive;
  font-size: 85%;
}

.wrapper {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 45px;
}

#content {
  padding: 65px; 
  background: linear-gradient(0deg, rgba(34,193,195,1) 45%, rgba(253,187,45,1) 100%);
  background-size: cover;
}

h1, h2 {
  font-family: 'Lucida Handwriting', Cursive;
  color: #878d69;
}

h1 {
  font-size: 3.0em;
  margin-bottom: 0;
  color: #878d69;
}

h2 {
  font-size: 1.5em;
  margin-top: .5em;
  color: #878d69;
}

h3 {
  font-family: 'Lucida Hnadwrititng', Cursive;
  font-size: 1.5em;
  margin-top: .5em;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

p {
  font-size: 1em;
  color: #878d69
}

a {
  color: #878d69;
  text-decoration: #878d69;
}

a:hover {
  text-decoration: #878d69;
}

@media only screen and (max-width: 1065px) {
  .wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 90%;
  }
  h1 {
    font-size: 2.7em;
  }
  h2 {
    font-size: 1em;
  }
  .wrapper {
    width: 90%;
  }
}
